In [1]:
from fidget import *
from toolz.curried import *
from collections import OrderedDict
get_ipython().ast_node_interactivity = 'all'

In [2]:
_x(10, 20) != _x(10)
_x(10, 20) == _x(10, 20)
x_ & _xx[:] & call(20, 10) == _xx(10, 20)>>call

True

True

True

In [3]:
_x()(10)
_x()(10, 20)
_x()(10, 20, 30)

10

10

10

In [4]:
_xx()(10)
_xx()(10, 20)
_xx()(10, 20, 30)

(10,)

(10, 20)

(10, 20, 30)

In [5]:
x_()(10)
x_()(10, 20)
x_()(10, 20, 30)

10

20

30

In [6]:
_x[_xx()]>>call(10, 20, 30)
x_[_xx()]>>call(10, 20, 30)
_xx[x_()]>>call(10, 20, 30)
_xx[_x()]>>call(10, 20, 30)

(10, 20, 30)

(30, 20, 10)

(10, 20, 30)

(10, 20, 30)

In [7]:
_x >> range >> [list, len, type] >> call(10)
_x + range + [list, len, type] + call(10)
_x & range & [list, len, type] & call(10)
_x + range & [list, len, type] & call(10)
_x.pipe(range).pipe([list, len, type])(10)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

In [16]:
_x & [type, isiterable, callable] & [type, identity] & call(10)
_x & {type, isiterable, callable} & [type, identity] & call(10)
_x & {'foo': type, isiterable: isiterable, 'bar': callable} & [type, identity] & call(10)
_x & OrderedDict((('foo', type), ('bar', callable))) & [type, identity] & call(10)

_x[(range(i) for i in range(10))]
_x >> (range(i) for i in range(10))
_x[(range(i) for i in reversed(range(10)))].map(len)[list]()

[list, [int, False, False]]

[set, {False, int}]

[dict, {False: False, 'bar': False, 'foo': int}]

[collections.OrderedDict, OrderedDict([('foo', int), ('bar', False)])]

CompositionCompose(<generator object <genexpr> at 0x11a6e6eb0>,)

CompositionCompose(<generator object <genexpr> at 0x11a6e6fa0>,)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [9]:
import pandas as pd
import random

In [10]:
_x >> {
    'data': _x[range].map(_x[[]][_xx>>random.random])>>enumerate>>list,
    'index': _x[range][reversed][list],
    'columns': ['i', 'value'],
} >> (_xx[pd.DataFrame]) >> call(3)

   i     value
2  0  0.445494
1  1  0.877051
0  2  0.572866

In [37]:
_x >> [
    _x[range].map(_x[[]][_xx>>random.random])>>enumerate>>list,
    _x[range][reversed][list], ['i', 'value'],
] >> (_xx[pd.DataFrame]) >> call(3)

   i     value
2  0  0.494061
1  1  0.226542
0  2  0.432591

In [73]:
from jinja2 import Environment
from IPython.display import Markdown

In [78]:
env = _x[Environment()]()
env.globals.update(_x=_x, **merge(
    keyfilter(_x.first().eq('_').not_(), globals()), vars(__builtin__), vars(operator)))
tpl = env.from_string("""
# This example introduces `{{_x[str.upper][call(title)]}}`

`{{_x[str.upper][call(title)]}}` is as easy as {{_x[range].map(add(1)).map(str)[', '.join][call(i)]}}.

Maybe this could be literate programming?
""")

In [79]:
_x(i=3, title='fidget') >> tpl.render >> Markdown >> call

# This example introduces `FIDGET`

`FIDGET` is as easy as 1, 2, 3.

Maybe this could be literate programming?

### polymorphisms

In [82]:
(_y
 + range
 + (_x
    + [list, len, type])
 + list
)(10)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

In [83]:
(_x
 - range
 - (_x
    - [list, len, type])
 - list
)(10)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

In [84]:
(_x
 >> range
 >> (_x
     >> [list, len, type])
 >> list
)(10)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

In [85]:
(_x
 [range]
 [_x
  [list, len, type]]
 [list]
)(10)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

In [86]:
(_x
 .pipe(range)
 .pipe(_x[list, len, type])
 .pipe(list)
)(10)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, list]

In [20]:
_y[range][type](10)
_y>>range>>type>>call(10)

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], int)

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], int)